<form action="/todos/new" method="post">
<label for="task">Task</label><br/>
<input type="text" name="task" /><br/>
<label for="location">Location</label><br/>
<input type="text" name="location" /><br/>
<label for="description">Description</label><br/>
<input type="text" name="description" />

<button>Add This Task</button>

</form>