<form action="/people/new" method="post">
<label for="name">Name</label><br/>
<input type="text" name="name" /><br/>
<label for="age">Age</label><br/>
<input type="text" name="age" /><br/>
<label for="title">Job Title</label><br/>
<input type="text" name="title" /><br/>

<button>Add This Person</button>

</form>