<form action="/movies/new" method="post">
<label for="name">Title</label><br/>
<input type="text" name="name" /><br/>
<label for="rating">Rating</label><br/>
<input type="text" name="rating" /><br/>
<label for="release_date">Release Date</label><br/>
<input type="text" name="release_date" />

<button>Add This Movie</button>

</form>