<h1>Things That Need Doing</h1>

<h2>
  <ul>
    <% @todos.each do |todo| %>
      <li><%= todo['task'] %></li>
    <% end %>
  </ul>
</h2>
<br/>

<a href="/todos/new"><button>Add Another Task</button></a>

<a href="/"><footer>Back to the Index</footer></a>